* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}

*::selection {
    background-color: transparent;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

p {
    font-family:'Public Sans', sans-serif;
}

/* intro page */

.img-wrapper {
    position: relative;
    display: flex;
    max-width: max-content;
    max-height: max-content;
    margin-bottom: 2rem;
}

.img-wrapper p {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    font-weight: 600;
    text-shadow: 0 0 4px black;
    font-size: 0.7rem;
}

.img-wrapper a {
    color:aqua;
}

#wrapper {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5%;
    
}

#wrapper > p {
    letter-spacing: 0.04rem;
    line-height: 1.3rem;
    padding: 0 10%;
    margin-bottom: 2rem;
    font-weight: 600;
    color: rgb(56, 56, 56);
}

#wrapper > button {
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 2rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(64, 166, 255, 0.871);
    border-radius: 10px;
    border: 4px solid rgb(56, 56, 56);
    box-shadow: 0 0 4px grey;
}

#wrapper > button:hover, #wrapper > button:active {
    background-color: rgb(7, 87, 200);
}

#intro-logo {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    
}

/* game section */



body {
    background-color: rgb(231, 231, 231);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game {
    justify-content: center;
    padding: 5% 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: 1fr auto max-content;
    z-index: 1;
    position: relative;
}

@media (max-width: 600px) {
    .game {
        transform: scale(0.7);
    }
}

@media (max-width: 430px) {
    .game {
        transform: scale(0.65);
    }
}

/* Money -------------------- */

.money-box {
    height: 100px;
    width: 100px;
    grid-area: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.money-box img {
    width: 80%;
}

.money {
    font-size: 1.3rem;
    font-weight: 600;
}

/* Sober Meter -------------------- */

.sober-box {
    display: flex;
    position: relative;
    align-content: center;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    width: 300px;
    height: 50px;
    grid-area: 1/ 2/ 1/ 2;
    margin: 0 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 4px solid rgb(66, 65, 65);
    z-index: 4;
}

.meter {
    width: 100%;
    height: 100%;
    background-color: orange;
    z-index: 2;
    box-shadow: 0 0 5px black;
    
}

.meter-under {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: grey;
    
    z-index: 1;
}

.sober-text {
    position: absolute;
    align-self: center;
    z-index: 3;
    transform: translate(0, 50%);
    color: rgb(71, 71, 71);
    font-weight: bold;
    
}


/* Bottle -------------------- */

.bottle {
    grid-area: 2 / 1 / 2 / 1;
    align-self: flex-end;
    width: 100px;
    height: 150px;
    display: flex;
    transition: transform 100ms;
    
}

.bottle:hover {
    cursor: pointer;
}

.bottle:active {
    transform: scale(0.9) rotate(10deg);
}

.bottle img {
    height: 80%;
    align-self: flex-end;
    
}

/* this div is home to the changes in money animation */

.changed-money {
    grid-area: 2 / 1 / 2 / 1;
    justify-self: center;
    margin-top: 20%;
    font-size: 1.2rem;
    font-weight: 700;
    color: green;
    text-shadow: 0 0 2px grey;
    opacity: 0;
    height: max-content;
}

@keyframes moneySlide {
    0% {
        opacity: 0;
        margin-top: 20%;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        margin-top: 8%;
        opacity: 0;
    }
}

/* Slot Machine -------------------- */

.slot-machine {
    grid-area: 2/ 2/ 2/ 2;
    display: flex;
    width: 260px;
    height: 200px;
    background-color: rgba(180, 1, 159, 0.781);
    justify-self: center;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: 4px solid gold;
    border-bottom: none;
    box-shadow: inset 0 0 5px rgb(77, 77, 77);
}

.slot {
    height: 80px;
    width: 50px;
    background-color: aliceblue;
    text-align: center;
    overflow: hidden;
    border: 4px solid black;
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
}

.slots {
    list-style-type: none;
    font-size: 2rem;
    margin-top: 30%;
}


.slot ul li {
    margin-bottom: 1rem;
    text-align: center;
}

@keyframes slide {
    0% {
        margin-top: 30%;
    }
    25% {
        margin-top: -100%;
    }
    50% {
        margin-top: -230%;
    }
    75% {
        margin-top: -370%; 
    }
    100% {
        margin-top: -500%;
    }
}

/* Lever -------------------- */

.lever {
    grid-area: 2/ 3/ 2/ 3;
    width: 50px;
    height: 200px;
    background-color: transparent;
    align-self: flex-end;
    justify-self: flex-start;
    transition: all 300ms;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    
}

.lever:hover {
    cursor: pointer;
}

.ball {
    background-color: rgb(180, 0, 0);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    margin-top: 50%;
    z-index: -1;
    border: 4px solid rgb(44, 44, 44);
}

.stem {
    width: 10px;
    height: 90%;
    justify-self: flex-end;
    background-color: rgb(126, 3, 151);
    margin-top: 60%;
    z-index: -2;
}

/* Betting Section -------------------- */

.bettings {
    grid-area: 3/ 2/ 3/ 2;
    width: 200px;
    height: 50px;
    position: relative;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: 2rem;
}

@media (max-width: 600px) {
    .bettings {
        transform: scale(0.7);
        margin-top: -2rem;
    }
}

@media (max-width: 430px) {
    .bettings {
        transform: scale(0.65);
        margin-top: -2.5rem;
    }
}

.bet-change {
    background-color: bisque;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: 4px solid rgb(102, 101, 101);
}

.bet-change:hover {
    cursor: pointer;
}

.bet-change:active {
    background-color: rgb(232, 188, 160);
    box-shadow: inset 1px 1px 4px grey;
}

.bet-amount {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    color: black;
}

/* table is the line that that the slot machine sits on */

.table {
    grid-area: 3/2 /3/2;
    width: 160%;
    height: 12px;
    background-color: rgb(252, 179, 90);
    border-radius: 1rem;
    margin-left: -35%;
    box-shadow: 0 3px 5px rgb(102, 101, 101);
    
}

/* ------------------------------ The tutorial section -------------------- */

.tutorial {
    
    z-index: 4;
}

.tutorial h2 {
    font-family: 'Public Sans', sans-serif;
    padding-bottom: 0.5rem;
    color: rgb(152, 152, 152)
}

.tutorial p {
    padding: 0 0.5rem 0.5rem 0.5rem;

}

.step {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 0 0 8px rgb(192, 192, 192);
    display: none;
    margin: 2rem 5%;
    max-width: max-content;
    min-width: min-content;
    
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tut-nav {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.next-step {
    font-weight: 600;
    color: rgb(41, 177, 230);
    text-decoration: underline;
    padding: 0 1rem;
}

.next-step:hover {
    cursor: pointer;
}

.skip-tutorial {
    font-weight: 600;
    color: rgba(236, 58, 150, 0.563);
    text-decoration: underline; 
}

.skip-tutorial:hover {
    cursor: pointer;
}

.focused {
    display: none;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 0 9999px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 0 9999px rgba(0, 0, 0, .3);
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    z-index: 4 !important;
    animation: focus 3s infinite;
    position: absolute;
    pointer-events: none;
}

.on-lever {
    right: -6.5%;
    top: 40%;
    width: 7rem;
    height: 7rem;
}

.on-beer {
    top: 60%;
    left: -1%;
    width: 8rem;
    height: 8rem;
}

.on-bet {
    top: -35%;
    right: -10%;
    width: 6rem;
    height: 6rem;
}

@keyframes focus {
    0% {
        transform: scale(1);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }

}


/* ----------You lose screen / Bad ending---------------- */

.the-end-container {
    top: 0;
    z-index: 9;
    position:absolute;
    width:100vw;
    height:100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.404);
    justify-content: center;
}

.the-end {
    z-index: 10;
    top: 10vh;
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 0 0 8px rgb(192, 192, 192);
    margin: 0 5%;
    max-width: max-content;
    min-width: min-content;
    transform: translate(0, 60%);
}

.the-end h2 {
    font-family: 'Public Sans', sans-serif;
    padding-bottom: 0.5rem;
    text-align: center;
}

.the-end p {
    padding: 0 0.5rem 0.5rem 0.5rem;
    line-height: 1.4rem;
}

.restart {
    width: max-content;
    margin: 0.5rem auto;
    background-color: rgb(255, 0, 132);
    border-radius: 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    padding: 0.8rem;
    border: 3px solid black;
}

.restart p {
    padding: 0;
}

.restart:hover, .restart:active {
    background-color: rgb(168, 4, 56);
    cursor: pointer;
}
